name: fastshare_plugin
description: A Flutter plugin for ultra-high-speed offline file sharing using Hotspot + TCP sockets.
version: 0.0.1
homepage: https://github.com/mortza-mansory/FastShare

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.myapp.fastshare_plugin
        pluginClass: FastSharePlugin
